/* mitr-300 - latin_thai_vietnamese */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mitr';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/mitr-v11-latin_thai_vietnamese-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* mitr-regular - latin_thai_vietnamese */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mitr';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/mitr-v11-latin_thai_vietnamese-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Global */
/* site-header */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    color: #333333;
    font-family: 'Mitr', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5,h6{
    color: #111111;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 16px;
}
h1{
    font-size: 32px;
}
h2{
    font-size: 28px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 22px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 18px;
}
p{
    font-size: 16px;
    line-height: 1.6;
}
a{
    color:  rgb(8, 113, 219);

}
.site-header{
    background-color: white;
    border-bottom: 1px solid rgb(160, 156, 156);
    box-shadow: 0px 2px 10px 1px rgba(123,118,118,0.44);
    display: flex;
    justify-content: flex-start;
    height: 60px;
}
.site-header-item{
    color: #111111;
    background-color: rgba(  0, 0, 0,0);
    font-weight: 400;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 10px;
}
.site-header-item:hover{
    background-color: rgba(  0, 0, 0,0.1);
    transition: 0.5s;
}
.text-center{
    text-align: center;
}

.text-gray{
    color: #888888;
}


.image-block{
    display: block;
    max-width: 100%;
    margin-bottom: 12px;
}
.content-section{
    padding: 64px 16px; 
}

.content-section-single{
    min-height: calc(100vh - 120px);
}

.content-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}
.content-title{
    margin-bottom: 24px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 16px;
    row-gap: 16px;
    margin-bottom: 20px;
}
@media screen and (min-width: 700px ) {
    .grid-2{
        grid-template-columns: 1fr 1fr;
    }
    .grid-3{
        grid-template-columns: 1fr 1fr 1fr;
    }

}




/* site-footer */
.site-footer{
    background-color: rgb(232, 232, 232);
    text-align: center;
    padding: 16px;
}
.site-footer-copy-right{
    font-size: 12px;
}

.home-landing-section{
    background-color: #e9e9e9;
    background-image: url(background05.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 120px 16px;
}
.home-landing-section{
    text-shadow: 3px 2px 7px rgba(0,0,0,0.6);
    margin-top: 0px;
    margin-bottom: 24px;
}

/* Form */
.form-field{
    margin-bottom: 16px;
}
label{
    display: block;
    margin-bottom: 4px;
    line-height: 1.6;
}
input[type="text"],
input[type="email"]{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    border: 1px solid #888888;
    border-radius: 4px;
    font-size: 16px;
    display: block;
    width: 100%;
    height: 35px;
    padding: 4px 12px;
    outline: none;
}
input[type="text"]:focus,
input[type="email"]:focus{
    border-color: rgb(8, 113, 219);
}

.button{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    color: white;
    font-weight: 400;
    background-color: #333333;
    border: none;
    border-radius: 8px;
    line-height: 1;
    display: inline-block;
    padding: 14px 12px;
    text-decoration: none;
    cursor: pointer;
}
.button-primaty{
    background-color: rgb(8, 113, 219);
}


/* foods */
.food-title a:not(:hover){
    color: #111111;
    text-decoration: none;
    transition: 0.5s;
}