{% extends 'app_general/components/base.html' %}

{% block site_titel %} Thank you| {% endblock %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container">
        <h2 class="content-title" >Thank you in Register</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus placeat, maiores tempora sunt blanditiis
            voluptatibus provident minima veniam nesciunt vitae quisquam consequatur, cum inventore culpa veritatis
            animi
            dolores tempore unde et dolore recusandae earum. Eveniet commodi numquam beatae est asperiores!
        </p>
        <div>
            <a class="button button-primaty" href="{% url 'home' %}">Go back</a>
        </div>
    </div>
</section>



{% endblock %}